Client/Service References/EncodingServiceRef/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/EncodingWCFService/EncodingService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Entities" />
  <xs:element name="ProcessJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Entities" minOccurs="0" name="j" nillable="true" type="q1:JobDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessJobResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>