Client/Service References/EncodingServiceRef/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/EncodingWCFService/EncodingService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="JobDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Resolutions" nillable="true" type="tns:ArrayOfResolution" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobDetails" nillable="true" type="tns:JobDetails" />
  <xs:complexType name="ArrayOfResolution">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resolution" type="tns:Resolution" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResolution" nillable="true" type="tns:ArrayOfResolution" />
  <xs:complexType name="Resolution">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resolution" nillable="true" type="tns:Resolution" />
</xs:schema>